<div class="container-fluid mt-5 about-style" id="contactid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto text-">
       <h1 class="text-center main-heading">Contact Us</h1>
             <p class="text-center sub-heading">grow your business with us</p> 
      <div class="row">
        <div class="col-md-8 col-12 mx-auto text-">
          <form action="/contact" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Full Name"
                aria-describedby="emailHelp"
              />
             
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter your email"
                name="email"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text">We'll never share your email
                with anyone else.</div>
            </div>
            <div class="mb-3">
              <label
                for="exampleInputPassword1"
                class="form-label"
              >Phone</label>
              <input
                type="password"
                class="form-control"
                placeholder="Enter your phone"
                name="phone"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3">
              <label
                for="exampleInputPassword1"
                class="form-label"
              >Message</label>
              <input
                type="text"
                placeholder="Message"
                class="form-control"
                placeholder="Enter your password"
                id="exampleInputPassword1"
                name="message"
              />
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
        
            </div>
            <button class="" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>